<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="Insurance" value="Data Source=EC2AMAZ-VD972P6\SQLEXPRESS;Initial Catalog=InsuranceClaim_dev;User Id=sa;Password=data@123" />
    
    <!--<add key="Insurance" value="Data Source=192.168.5.253\MSSQL2014;Initial Catalog=InsuranceClaim_dev;User Id=sa;Password=data@123" />-->
    
  <add key="smsGatewayUsername" value="GeneInsure" />
    <add key="smsGatewayToken" value="b6fd77919b0004f944dc7319eebdde9f" />
    <add key="urlPath" value="https://gene.co.zw/" />
  
  <add key="SendEmailSMTP" value="smtp.gmail.com" />
   <add key="SendEmailPortNo" value="587" />
    <add key="SendEmailEnableSSL" value="true" />
  
   <add key="SendEmailFrom" value="Service@gene.co.zw" />
   <add key="SendEmailFromPassword" value="J9quNb3125" />
    
    <add key="gwpemail" value="gwp@gene.co.zw" />
    <add key="gwpccmail" value="loice@srtc.co.zw" />
   
    <!--<add key="gwpemail" value="chandan.kumar@kindlebit.com" />-->
      
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    
  </appSettings>


</configuration>